/* p{ */
    /* padding: 20px; Adds space inside the element, between the content and the border. */
/* } */
/* p{ */
    /* margin: 30px; Adds space outside the element, between the element and other elements. */
/* } */
/* h1{ */
    /* margin: 50px; */
/* }/ */
/* p{ */
    /* border: 2px solid black; Adds a border around the element. */
 /*solid, dashed, dotted, double, groove, ridge, inset, outset*/
/* } */

/*p {
    padding: 20px;
    margin: 40px;
    border: 2px solid black;
    background-color: lightblue;
    text-align: center;
}*/

*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: green;
    font-size: 50px;
}