body {
  margin: 0;
  background: linear-gradient(135deg, #020617, #0f172a, #1e293b);
  font-family: Arial;
  color: #f1f5f9;
}

.app {
  text-align: center;
  padding: 50px;
}

.card {
  margin: auto;
  padding: 30px;
  background: #1e293b;
  border-radius: 12px;
  width: 300px;
}

h2 {
  color: #38bdf8;
}